.hero {
  height: 100vh;
  width: 100vw;

  background: rgb(0, 0, 0);

  background-image: url("../Assets/sandboxNew.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-size: 100vh; */
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;

  color: white;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.403) 0%,
    rgba(0, 0, 0, 0.659) 50%,
    rgb(0, 0, 0) 100%
  );
}

.hero h1 {
  font-size: 90px;
  font-weight: 300;
}

.hero h1 span {
  color: gold;
  font-weight: 500;
}
.hero p {
  font-size: 25px;
  margin: 20px 0;
}

.hero-btns {
  display: flex;
  width: 20%;
  gap: 20px;
  justify-content: center;
}

.hero-btns .btn {
  border: 2px solid rgba(255, 255, 255, 0.532);
  border-radius: 8px;
  padding: 10px 25px;
  width: max-content;

  background-color: transparent;

  backdrop-filter: blur(10px);
  color: white;

  font-size: 20px;
  text-wrap: nowrap;

  cursor: pointer;

  transition: 0.5s all;
}

.hero-btns .btn:hover {
  border: 2px solid rgb(205, 148, 6);
}
@media only screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 970px) {
  .hero h1 {
    font-size: 55px;
  }
  .hero p {
    font-size: 20px;
  }
  .hero-btns .btn {
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 15px;
  }
  .hero-btns .btn {
    font-size: 15px;
    padding: 5px 20px;
  }
}
@media only screen and (max-width: 530px) {
  .hero {
    background-image: url("../Assets/sandboxNewMid.jpg");
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 13px;
  }
  .hero-btns .btn {
    font-size: 12px;
    padding: 5px 20px;
  }
}
@media only screen and (max-width: 430px) {
  .hero,
  .hero-overlay {
    height: 95vh;
  }
  .hero-overlay {
    justify-content: start;
    padding-top: 40%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.559) 0%,
      rgba(0, 0, 0, 0.914) 50%,
      rgb(0, 0, 0) 100%
    );
  }
  .hero h1 {
    font-size: 50px;
    /* text-align: left; */
    padding: 0 5%;
  }
  .hero p {
    font-size: 18px;
  }
  .hero-btns .btn {
    font-size: 18px;
    padding: 2px 10px;
  }
}
@media only screen and (max-width: 350px) {
  .hero h1 {
    width: auto;
    padding: 0% 3%;
  }
  .hero p {
    font-size: 18px;
    text-align: left;
    padding: 0% 3%;
  }

  .hero-btns .btn {
    font-size: 15px;
  }
}
