.members-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members-page .header-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.218),
    rgba(0, 0, 0, 0.996)
  );
  height: 100%;
  width: 100%;
  text-align: center;
  gap: 40px;
  padding: 50px;
}

.members-page header {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets/sandbox_acrylic.jpg");
  background-position: center 10px;
  height: 30vh;
  width: 100%;
}

.members-page header h1 {
  font-size: 75px;
  font-weight: 400;
  width: 100%;
}

.members-page header p {
  font-size: 25px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.member-card {
  border-radius: 10px;
  height: 300px;
  width: 250px;
  user-select: none;
}

.member-card ul {
  list-style: none;
  display: flex;
  align-items: center;

  gap: 10px;
}

.member-card .card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 200;

  transition: all 0.5s;
}

.member-card h3 {
  font-weight: 200;
  font-size: 30px;
}

.member-card .card-overlay,
.member-card a {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
}

.member-card:hover .card-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.589);
}

.member-card:hover a {
  color: white;
}

.members-page #mail-icon {
  font-size: 30px;
  padding: 5px;
  transition: all 0.5s;
}

.member-card:hover .icon {
  color: #ffffff;
}

.member-card .icon:hover {
  color: gold;
}

#li-icon {
  font-size: 30px;
  padding: 5px;
  transition: all 0.5s;
}

.member-card .icon {
  color: rgba(240, 248, 255, 0);
}

.faculty {
  margin-bottom: 40px;
}

.members-page h1 {
  color: white;
  font-size: 70px;
}

@media screen and (max-width: 400px) {
  .members-page header h1 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
  }

  .member-card {
    height: 256px;
    width: 206px;
    border-radius: 5px;
  }
  .member-card img {
    height: 255px;
    width: 205px;
    border-radius: 5px;
  }

  .member-card .card-overlay {
    border-radius: 5px;
  }

  .members-page h1 {
    font-size: 35px;
  }
}
