@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav-links {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 35px;
  overflow: hidden;
  border-radius: 30px;
  backdrop-filter: blur(7px);
  user-select: none;
}

.menu-open .nav-links {
  background-color: rgba(0, 0, 0, 0.608);
  border: 1px solid white;
  height: 270px;
  width: 250px;
  line-height: normal;
  padding: 10px 0px 31px;
  transition: all 0.8s;
}

.menu-closed .nav-links {
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  height: 0;
  transition: all 0.8s 0.4s;
  width: 0px;
}

.nav-links ul {
  margin: 30px;
  font-size: 22px;
  list-style-type: none;
  font-weight: 500;
}

.menu-closed .overlay {
  height: 0;
}

.menu-open ul li {
  transform: rotateX(0deg);
  transition: all 0.7s;
  transition-delay: 0.3s;
  margin-top: 10px;
}

.menu-closed ul li {
  transform: rotateX(-90deg);
  transition: all 0.4s;
}

li {
  list-style: none;
  width: max-content;
}

/* .menu-closed ul,.menu-closed li{
    list-style-type: none;
    color: rgba(255, 255, 255, 0);
    line-height: 0;
    letter-spacing: 0;
    transition: all 0.2s;
} */

.nav-links a::after {
  display: block;
  content: "";
  width: 0%;
  background-color: gold;
  transition: 0.5s all;
  height: 2px;
}

.nav-links a:hover:after {
  width: 100%;
  left: 0;
}

.nav-links .access-form-btn {
  border-radius: 10px;
  font-size: medium;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.599);
  filter: blur(0.5);
  border: 2px solid white;
  color: white;
  margin-top: 18px;
  cursor: pointer;
  transition: all 0.4s;
}

.menu-open .access-form-btn {
  transition: all 0.7s 0.5s;
  transform: scale(none);
}

.menu-closed .access-form-btn {
  transform: scale(0);
}

.nav-links .access-form-btn:hover {
  border-color: goldenrod;
  transition: border-color 0.3s;
}

@media screen and (max-width: 750px) {
  .nav-links ul {
    font-size: 18px;
  }
  .menu-open .nav-links {
    height: 230px;
    width: 230px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 550px) {
  .nav-links {
    right: 23px;
  }

  .nav-links ul {
    font-size: 18px;
    font-weight: 400;
  }
  .menu-open .nav-links {
    height: 230px;
    width: 230px;
    border-radius: 25px;
  }

  .menu-open .access-form-btn {
    border-radius: 8px;
    padding: 6px 8px;
  }
}
@media screen and (max-width: 430px) {
  .nav-links {
    top: 35px;
  }
  .nav-links {
    right: 16px;
  }

  .nav-links ul {
    font-size: 17px;
    font-weight: 400;
  }
  .menu-open .nav-links {
    height: 230px;
    width: 210px;
    border-radius: 25px;
  }

  .menu-open .access-form-btn {
    border-radius: 8px;
    font-size: small;
    padding: 8px 10px;
    margin-top: 20px;
  }
}
