@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* for Safari on iOS */
  outline: none; /* for Chrome and other browsers */
}

/* Removes outline for focus state on all elements */
*:focus {
  outline: none;
}
body {
  background-image: url("./Assets/aboutBg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#sandbox-logo {
  z-index: 99;
  position: fixed;
  left: 5%;
  top: 5%;
  width: 60px;
  height: 65px;
}

@media only screen and (max-width: 970px) {
  #sandbox-logo {
    width: 45px;
    height: 50px;
  }
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.divider {
  height: 7px;
  background-color: gold;
  border: none;
}

.section-header {
  font-size: 50px;
}

.footer-divider {
  background-color: rgb(84, 84, 84);
  border: none;
  height: 5px;
}
